<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div style="text-align:center"><h1>Upload File</h1></span>
            <p>Select the mp3 below to upload. Max size is 300MB.</p>
            <p><a asp-controller="Admin" asp-action="Index">Admin Index</a></div>
            <hr />
            <input type="file" class="form-control" name="podcastFile" id="podcastFile" accept=".mp3"/> <input id="podcastFileSubmit" class="btn btn-primary" type="button" onclick="uploader.upload(); return(false);" value="Upload"/>
            <!--<progress id="uploadProgress" value="0" max="100" hidden></progress>-->
            <div class="progress">
              <div class="progress-bar" id="uploadProgress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" hidden>
                <span class="sr-only">&nbsp;</span>
              </div>
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script src="\lib\jquery\dist\jquery.js"></script>
    <script src="\lib\azure-storage\azure-storage.common.min.js"></script>
    <script src="\lib\azure-storage\azure-storage.blob.min.js"></script>
    <script>
      var uploader = 
      {
        upload : function()
        {
          $('#podcastFileSubmit').attr("disabled", true);
          $('#uploadProgress').attr("hidden", false);

          $.get("/upload/initiate", function(sasToken)
          {
            var blobUri = sasToken.endpoint;
            var blobService = AzureStorage.createBlobServiceWithSas(blobUri, sasToken.saS);
            var file = document.getElementById('podcastFile').files[0];

            customBlockSize = 4194304;
            blobService.singleBlobPutThresholdInBytes = customBlockSize;

            var finishedOrError = false;
            var options = {blockSize: customBlockSize}
            var speedSummary = blobService.createBlockBlobFromBrowserFile(sasToken.container, file.name, file, {blockSize : customBlockSize}, function(error, result, response) {
                finishedOrError = true;
                if (error) {
                    $('#podcastFileSubmit').attr("disabled", true);
                    $('#uploadProgress').attr("aria-valuenow", 0);
                    $('#uploadProgress').css("width", '0%');
                    $('#uploadProgress').attr("hidden", true);
                } else {
                    $('#uploadProgress').addClass('progress-bar-success');
                }
            });

            function refreshProgress() {
                setTimeout(function() {
                    if (!finishedOrError) {
                        var process = speedSummary.getCompletePercent();
                        $('#uploadProgress').attr("aria-valuenow", process);
                        $('#uploadProgress').css("width", process +'%');
                        refreshProgress();
                    }
                }, 200);
            }
            refreshProgress();
          });
        }
      }
    </script>
}
