<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div style="text-align:center"><h1>Upload File</h1></span>
            <p>Select the mp3 below to upload. Max size is 300MB.</p>
            <p><a asp-controller="Admin" asp-action="Index">Admin Index</a></div>
            <hr />
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <form method="POST" asp-controller="File" asp-action="Upload" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                    <div class="fallback">
                        <div class="form-group">
                            <label for="stub" class="col-sm-12 col-md-3 control-label">Mp3</label>
                            <div class="col-sm-12 col-md-7">
                                <input type="file" name="file" accept=".mp3" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-md-offset-8 col-md-4">
                                <button type="submit" class="btn btn-default">Upload</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="\lib\dropzone\dist\dropzone.js"></script>
    <script>
        Dropzone.options.myAwesomeDropzone = {
        acceptedFiles: ".mp3",
        maxFilesize: 300
        };
    </script>
}
