@model SocialClubNI.Models.Podcast

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span style="text-align: center"><h1>A message to our listeners</h1></span>
            <p>Dear listeners,</p>
            <p>With a heavy heart, we can confirm that, after seven seasons and 209 shows, we've decided to pull the shutters down on The Social Club.</p>
            <p>Since 2011, we have covered all aspects of Northern Irish football, from the Steel &amp; Sons Cup to the European Championships and evenythign in-between. It's been a pleasure and privilege to share our opinions on the game with you because we know you share our love and passion for Irish League football.</p>
            <p>We haven't lost or love of the beautiful game, nor our love of podcasting. Sadly, as the years have rolled by our commitments, both personal and professional, have made it more difficult for us to find time to record the show. With that in mind, we've decided to call time on things.</p>
            <p>We thank all our listeners who have made this show so much fun to record over the last seven years. Your support means the world to us.</p>
            <p>Thanks must go to BetMcLeans for their sponsorship, Start Together studios for making the podcast a pleasure to record, Andy Collins for his technical help and Michael Clarke for broadcasting us on Lisburn 98FM.</p>
            <p>We also thank all our guests and contributors over the years, particularly Stephen Looney whose insight and advice has been invaluable in recent seasons. Hat tip to founding member Chris Holt, without whose vision The Social Club would have never got off the ground.</p>
            <p>Finally, we've decided to go out with a bang. We intend to record and release our final podcast 'Last Orders' late next week.</p>
            <p>Yours in sport,<br /><strong>Laure, Conor, Keith and Mark</strong></p>
        </div>
    </div>
</div>

@section mainbottom{
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <article class="info">
                    <span style="text-align: center"><h1>Latest Episode</h1></span>
                    <h2><a href="/episode/@Model.Season/@Model.Stub">@Model.Title</a></h2>
                    @Model.Published.ToLocalTime().ToString("dddd, d MMMM yyyy")
                    <h3>@Model.SubTitle</h3>
                    <p>@Model.Summary</p>
                </article>
            </div>
        </div>
    </div>
}