@model SocialClubNI.ViewModels.ProfileViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h3>Username</h3>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>@Model.Username</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h3>Email</h3>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>@Model.Email</h1>
        </div>
    </div>
</div>